* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Shikamaru";
  src: url("./fonts/Shikamaru.ttf");
}

.hero-img {
  width: 40%;
  height: 100vh;
  background-image: url(./images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero-content {
  padding: 20px 10px;
  background: rgba(0, 0, 0, 0.3);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content img {
  height: 100px;
  filter: invert();
  margin-right: 10px;
}

.hero-content h1 {
  margin: 0;
  font-size: 4rem;
  font-family: "Shikamaru", sans-serif;
  text-transform: uppercase;
}

.credits {
  color: white;
  text-align: center;
  margin-bottom: 10px;
}

.credits a {
  color: white;
}

.credits a:hover {
  color: gray;
}